html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  width: 100%;
  margin: 0;
  background: #ffffff;
  font-family: "M PLUS 1p", sans-serif;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin-top: 0;
  padding: 0;
  font-size: 100%;
}

ul, ol, li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.l-header {
  height: 215px;
  background-color: #fff7ef;
}
@media (min-width: 590px) {
  .l-header {
    height: 217px;
  }
}
@media (min-width: 960px) {
  .l-header {
    height: 220px;
    width: 80%;
  }
}
.l-header__ttl {
  height: 47px;
  color: #707070;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  font-weight: 700;
}
@media (min-width: 590px) {
  .l-header__ttl {
    margin-top: -20px;
  }
}
@media (min-width: 960px) {
  .l-header__ttl {
    height: 75px;
    font-size: 6.4rem;
    justify-content: space-between;
    padding-top: 66px;
    margin-left: 65px;
  }
}

.p-menu {
  display: flex;
  justify-content: flex-end;
}
.p-menu__btn {
  width: 51px;
  height: 23px;
  margin-top: 8px;
  margin-right: 8px;
  font-size: 2rem;
  font-weight: 700;
  color: #707070;
}
@media (min-width: 590px) {
  .p-menu__btn {
    width: 87px;
    height: 40px;
    margin-top: 20px;
    margin-right: 25px;
    font-size: 3.4rem;
  }
}
@media (min-width: 960px) {
  .p-menu__btn {
    margin-top: 84px;
    margin-left: 2vw;
    margin-bottom: 90px;
  }
}
@media (min-width: 960px) {
  .p-menu {
    display: none;
  }
}

.p-search {
  width: 322px;
  height: 46px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  box-sizing: border-box;
}
@media (min-width: 590px) {
  .p-search {
    width: 546px;
    justify-content: center;
  }
}
@media (min-width: 960px) {
  .p-search {
    width: 28vw;
    margin: auto;
    justify-content: space-between;
    margin-right: 1.6vw;
    margin-top: 20px;
  }
}
.p-search__input {
  width: 216px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid #707070;
  margin-right: 16px;
  background-color: #ffffff;
}
@media (min-width: 590px) {
  .p-search__input {
    width: 20vw;
    margin-right: 14px;
  }
}
.p-search__set {
  width: 90px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid #707070;
  background-color: #ebe6e2;
  font-size: 1.6rem;
  font-weight: 700;
  color: #707070;
}
@media (min-width: 590px) {
  .p-search__set {
    width: 7vw;
  }
}

.l-main__mainvisual {
  height: 285px;
  width: 100%;
  position: relative;
}
@media (min-width: 960px) {
  .l-main__mainvisual {
    height: 530px;
    width: 80%;
  }
}
.l-main__mainvisual img {
  height: 285px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 960px) {
  .l-main__mainvisual img {
    height: 530px;
  }
}

.l-main__ttl {
  color: #ffffff;
  height: 53px;
  width: 216px;
  font-size: 3.6rem;
  font-weight: 700;
  position: absolute;
  top: 122px;
  left: 25px;
}
@media (min-width: 590px) {
  .l-main__ttl {
    position: absolute;
    top: 122px;
    left: 86px;
  }
}
@media (min-width: 960px) {
  .l-main__ttl {
    font-size: 4rem;
    height: 59px;
    width: 240px;
    position: absolute;
    top: 234px;
  }
}

.l-main__wrapperGrid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  margin: 20px;
  margin-bottom: 49px;
}
@media (min-width: 590px) {
  .l-main__wrapperGrid {
    margin: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 41px;
  }
}
@media (min-width: 960px) {
  .l-main__wrapperGrid {
    width: 80%;
    height: 1215px;
    gap: 0;
    margin: 6vw;
    margin-top: 120px;
    margin-bottom: 130px;
    padding-right: 6vw;
  }
}
.l-main__wrapperGrid-item {
  height: 643px;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  position: relative;
}
@media (min-width: 590px) {
  .l-main__wrapperGrid-item {
    height: 681px;
    width: 357px;
  }
}
@media (min-width: 960px) {
  .l-main__wrapperGrid-item {
    height: 1197px;
    width: 32vw;
  }
}
.l-main__wrapperGrid-item img {
  width: 100%;
  height: 642px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 590px) {
  .l-main__wrapperGrid-item img {
    height: 681px;
  }
}
@media (min-width: 960px) {
  .l-main__wrapperGrid-item img {
    height: 1197px;
  }
}
.l-main__wrapperGrid-ttl {
  font-size: 4.1rem;
  font-weight: 700;
  color: #eaeaea;
  position: absolute;
  top: 13px;
  left: 15px;
}
@media (min-width: 590px) {
  .l-main__wrapperGrid-ttl {
    font-size: 4.4rem;
    position: absolute;
    top: 14px;
    left: 11px;
  }
}
@media (min-width: 960px) {
  .l-main__wrapperGrid-ttl {
    font-size: 8rem;
    position: absolute;
    top: 24px;
  }
}
.l-main__wrapperGrid-ttl::after {
  content: "";
  height: 4px;
  width: 33.89px;
  background-color: #ffffff;
  display: block;
}
@media (min-width: 590px) {
  .l-main__wrapperGrid-ttl::after {
    width: 35.94px;
    margin-top: 8.57px;
    margin-left: 4.12px;
  }
}
@media (min-width: 960px) {
  .l-main__wrapperGrid-ttl::after {
    width: 63px;
    margin-left: 7.5px;
  }
}
.l-main__wrapperGrid-txtboxset {
  position: absolute;
  top: 298px;
  left: 16px;
}
@media (min-width: 590px) {
  .l-main__wrapperGrid-txtboxset {
    position: absolute;
    top: 341px;
  }
}
@media (min-width: 960px) {
  .l-main__wrapperGrid-txtboxset {
    position: absolute;
    top: 824px;
    left: 12px;
  }
}
.l-main__wrapperGrid-txtbox {
  width: 303px;
  height: 156px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 16px;
  margin-bottom: 16px;
}
@media (min-width: 590px) {
  .l-main__wrapperGrid-txtbox {
    width: 325px;
    height: 154px;
    padding-right: 15px;
  }
}
@media (min-width: 960px) {
  .l-main__wrapperGrid-txtbox {
    padding: 1vw;
    padding-bottom: 14px;
    width: 30.5vw;
    height: 166px;
    margin-bottom: 21px;
  }
}
.l-main__wrapperGrid-txt {
  color: #3c2a10;
  font-size: 1.6rem;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
@media (min-width: 590px) {
  .l-main__wrapperGrid-txt {
    font-size: 1.4rem;
  }
}
@media (min-width: 960px) {
  .l-main__wrapperGrid-txt {
    font-size: 1.6rem;
  }
}
.l-main__wrapperGrid-txt__ttl {
  color: #3c2a10;
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: -5px;
}
@media (min-width: 590px) {
  .l-main__wrapperGrid-txt__ttl {
    font-size: 2.4rem;
    margin-bottom: 16px;
  }
}
@media (min-width: 960px) {
  .l-main__wrapperGrid-txt__ttl {
    margin-bottom: 10px;
  }
}

.l-main__map {
  width: 100%;
  height: 691px;
  position: relative;
}
@media (min-width: 590px) {
  .l-main__map {
    height: 415px;
  }
}
@media (min-width: 960px) {
  .l-main__map {
    width: 80%;
    height: 649px;
  }
}
.l-main__map::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 415px;
  background-color: black;
  opacity: 0.2855;
}
@media (min-width: 960px) {
  .l-main__map::after {
    width: 50vw;
    height: 649px;
  }
}
.l-main__map-img {
  height: 691px;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
@media (min-width: 590px) {
  .l-main__map-img {
    height: 415px;
  }
}
@media (min-width: 960px) {
  .l-main__map-img {
    height: 649px;
  }
}
.l-main__map-ttl {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  margin-top: 42px;
  width: 240px;
  height: 45px;
}
@media (min-width: 960px) {
  .l-main__map-ttl {
    font-size: 3.6rem;
    margin-top: 4.5vw;
    width: 288px;
    height: 53px;
  }
}
.l-main__map-ttl::after {
  content: "";
  height: 2px;
  width: 75px;
  background-color: #ffffff;
  display: block;
  margin-top: 15px;
}
@media (min-width: 960px) {
  .l-main__map-ttl::after {
    margin-top: 50.5px;
    margin-left: 0.5px;
  }
}
.l-main__map-txt {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 33px;
  height: 518px;
  margin-top: 29px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 16;
}
@media (min-width: 590px) {
  .l-main__map-txt {
    height: 259px;
    width: 763px;
    -webkit-line-clamp: 8;
  }
}
@media (min-width: 960px) {
  .l-main__map-txt {
    height: 326px;
    width: 36vw;
    font-size: 1.6rem;
    margin-top: 109px;
    -webkit-line-clamp: 10;
  }
}
.l-main__map-txtset {
  width: 100%;
  height: 691px;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgba(0, 0, 0, 0.4029);
  margin-bottom: 57px;
  z-index: 3;
}
@media (min-width: 590px) {
  .l-main__map-txtset {
    height: 415px;
    padding-left: 42px;
    padding-right: 29px;
  }
}
@media (min-width: 960px) {
  .l-main__map-txtset {
    height: 649px;
    padding-left: 6vw;
  }
}

.l-footer {
  width: 100%;
  height: 150px;
  background-color: #9d8670;
  padding: 16px;
}
@media (min-width: 590px) {
  .l-footer {
    height: 149px;
    padding: 30px;
  }
}
@media (min-width: 960px) {
  .l-footer {
    height: 150px;
    padding-top: 41px;
  }
}
.l-footer__menu {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 590px) {
  .l-footer__menu {
    font-size: 2rem;
  }
}
.l-footer__copyright {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  margin-top: 70px;
}
@media (min-width: 590px) {
  .l-footer__copyright {
    margin-top: 44px;
    margin-bottom: 24px;
  }
}
@media (min-width: 960px) {
  .l-footer__copyright {
    margin-bottom: 27px;
    margin-top: 31px;
  }
}

.l-side {
  display: none;
}
@media (min-width: 960px) {
  .l-side {
    display: initial;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 2843px;
    background-color: #f2ede9;
    color: #707070;
  }
}

.menuList {
  margin-left: 2vw;
}

.mainMenu {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 35.64px;
  margin-bottom: 32px;
  margin-top: 48px;
}

.menuItem {
  font-size: 2rem;
  font-weight: 400;
  line-height: 29.7px;
  margin-bottom: 20px;
  margin-left: 1vw;
}
/*# sourceMappingURL=style.css.map */