@use "../foundation/base";


.l-header {
    height: 215px;
    background-color: #fff7ef;

    @include base.breakpoint-tablet {
        height: 217px;
        background-color: #707070;
    }

    &__ttl {
        height: 47px;
        color: #707070;
        font-size: 4rem;
        display: flex;
        justify-content: center;
        margin-top: 12px;
    }
}

.p-menu {
    display: flex;
    justify-content: flex-end;

    &__btn {
        width: 51px;
        height: 23px;
        margin-top: 8px;
        margin-right: 8px;
        font-size: 2rem;
        font-weight: 700;
        color: #707070;
    }
}

.p-search {
    width: 322px;
    height: 46px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    box-sizing: border-box;

    &__input {
        width: 216px;
        height: 46px;
        border-radius: 10px;
        border: 1px solid #707070;
        margin-right: 16px;
        background-color: white;
    }

    &__set {
        width: 90px;
        height: 46px;
        border-radius: 10px;
        border: 1px solid #707070;
        background-color: #ebe6e2;
        font-size: 1.6rem;
        font-weight: 700;
        color: #707070;
    }
}