@use "../foundation/base";


.l-header {
    height: 215px;
    background-color: #fff7ef;

    @include base.breakpointTablet {
    height: 217px;
    }

    @include base.breakpointPc {
        height: 220px;
        width: 80%;
    }

    &__ttl {
        height: 47px;
        color: base.$color--gray;
        font-size: 4rem;
        display: flex;
        justify-content: center;
        margin-top: 12px;
        font-weight: 700;

        @include base.breakpointTablet {
            margin-top: -20px;
        }

        @include base.breakpointPc {
            height: 75px;
            font-size: 6.4rem;
            justify-content: space-between;
            padding-top: 66px;
            margin-left: 65px;
        }
    }
}

.p-menu {
    display: flex;
    justify-content: flex-end;

    &__btn {
        width: 51px;
        height: 23px;
        margin-top: 8px;
        margin-right: 8px;
        font-size: 2rem;
        font-weight: 700;
        color: base.$color--gray;

        @include base.breakpointTablet {
            width: 87px;
            height: 40px;
            margin-top: 20px;
            margin-right: 25px;
            font-size: 3.4rem;
        }

        @include base.breakpointPc {
            margin-top: 84px;
            margin-left: 2vw;
            margin-bottom: 90px;
        }
    }

    @include base.breakpointPc {
        display: none;
    }
}

.p-search {
    width: 322px;
    height: 46px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    box-sizing: border-box;

    @include base.breakpointTablet {
        width: 546px;
        justify-content: center;
    }

    @include base.breakpointPc {
        width: 28vw;
        margin: auto;
        justify-content: space-between;
        margin-right: 1.6vw;
        margin-top: 20px;
        }

    &__input {
        width: 216px;
        height: 46px;
        border-radius: 10px;
        border: 1px solid base.$color--gray;
        margin-right: 16px;
        background-color: base.$color--white;

        @include base.breakpointTablet {
            width: 20vw;
            margin-right: 14px;
        }
    }

    &__set {
        width: 90px;
        height: 46px;
        border-radius: 10px;
        border: 1px solid base.$color--gray;
        background-color: #ebe6e2;
        font-size: 1.6rem;
        font-weight: 700;
        color: base.$color--gray;

        @include base.breakpointTablet {
            width: 7vw;            
        }
    }
}