.l-main__mainvisual {
    height: 285px;
    width: 100%;
    text-align: center;
    position: relative;
}

.l-main__ttl {
    color: #ffffff;
    font-size: 3.6rem;
    font-weight: 700;
    position: absolute;
    top: 122px;
    left: 25px;
}