.l-main__wrapperGrid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    margin: 20px;
    margin-bottom: 49px;
    
    &-item {
        height: 643px;
        object-fit: cover;
        text-align: center;
        position: relative;

        img {
            width: 100%;
            height: 642px;
            object-fit: cover;
        }
    }

    &-ttl {
        font-size: 4.1rem;
        font-weight: 700;
        color: #eaeaea;
        position: absolute;
        top: 13px;
        left: 15px;

        &::after {
            content: "";
            height: 4px;
            width: 33.89px;
            background-color: #ffffff;
            display: block;
        }
    }

    &-txtboxset {
        position: absolute;
        top: 298px;
        left: 16px;
    }

    &-txtbox {
        width: 303px;
        height: 156px;
        background-color: rgba(255, 255, 255, 0.8);
        text-align: left;
        padding: 16px;
        margin-bottom: 16px;
    }

    &-txt {
        color: #3c2a10;
        font-size: 1.6rem;
        font-weight: 400;
        
        &__ttl {
            color: #3c2a10;
            font-size: 2.2rem;
            font-weight: 700;
            margin-top: -5px;
        }
    }
}