@use "../foundation/base";

.l-main__wrapperGrid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    margin: 20px;
    margin-bottom: 49px;
    
    @include base.breakpointTablet {
        margin: 40px;
        grid-template-columns: repeat(2, 1fr);
        gap: 41px;
        margin-bottom: 40px;
    }

    @include base.breakpointPc {
        width: 80%;
        gap: 80px;
        padding-right: 6.1vw;
        margin-left: 6.1vw;
        margin-top: 120px;
        margin-bottom: 130px;
    }

    &-item {
        height: 643px;
        object-fit: cover;
        text-align: center;
        position: relative;

        @include base.breakpointTablet {
            height: 681px;
            width: 357px;
        }

        @include base.breakpointPc {
            height: 1197px;
            width: 32.1vw;
        }

        img {
            width: 100%;
            object-fit: cover;

            @include base.breakpointTablet {
                height: 681px;
            }

            @include base.breakpointPc {
                height: 1197px;
            }
        }
    }

    &-ttl {
        font-size: 4.1rem;
        font-weight: 700;
        color: #eaeaea;
        position: absolute;
        top: 13px;
        left: 15px;

        @include base.breakpointTablet {
            font-size: 4.4rem;
            position: absolute;
            top: 14px;
            left: 11px;
        }

        @include base.breakpointPc {
            font-size: 8.0rem;
            position: absolute;
            top: 24px;
        }

        &::after {
            content: "";
            height: 4px;
            width: 33.89px;
            background-color: #ffffff;
            display: block;

            @include base.breakpointTablet {
                width: 35.94px;
                margin-top: 8.57px;
                margin-left: 4.12px;
            }

            @include base.breakpointPc {
                width: 63px;
                margin-left: 7.5px;
            }
        }
    }

    &-txtboxset {
        position: absolute;
        top: 298px;
        left: 16px;

        @include base.breakpointTablet {
            position: absolute;
            top: 341px;
        }

        @include base.breakpointPc {
            position: absolute;
            top: 824px;
            left: 12px;
        }
    }

    &-txtbox {
        width: 303px;
        height: 156px;
        background-color: rgba(255, 255, 255, 0.8);
        text-align: left;
        padding: 16px;
        margin-bottom: 16px;

        @include base.breakpointTablet {
            width: 325px;
            height: 154px;
            padding-right: 15px;
        }

        @include base.breakpointPc {
            padding: 1vw;
            padding-bottom: 14px;
            width: 30.5vw;
            height: 166px;
            margin-bottom: 21px;
        }
    }

    &-txt {
        color: #3c2a10;
        font-size: 1.6rem;
        font-weight: 400;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        
        @include base.breakpointTablet {
            font-size: 1.4rem;
        }

        @include base.breakpointPc {
            font-size: 1.6rem;
        }

        &__ttl {
            color: #3c2a10;
            font-size: 2.2rem;
            font-weight: 700;
            margin-top: -5px;

            @include base.breakpointTablet {
                font-size: 2.4rem;
                margin-bottom: 16px;
            }

            @include base.breakpointPc {
                margin-bottom: 10px;
            }
        }
    }
}