@use "../foundation/base";

.l-main__map {
    width: 100%;
    height: 691px;
    position: relative;

    @include base.breakpointTablet {
        height: 415px;
    }

    @include base.breakpointPc {
        width: 80%;
        height: 649px;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 415px;
        background-color: black;
        opacity: 0.2855;

        @include base.breakpointPc {
            width: 50vw;
            height: 649px;
        }
    }

    &-img {
        height: 691px;
        width: 100%;
        object-position: center;
        object-fit: cover;
        z-index: 1;

        @include base.breakpointTablet {
            height: 415px;
        }

        @include base.breakpointPc {
            height: 649px;
        }
    }

    &-ttl {
        font-size: 3.0rem;
        font-weight: 700;
        color: #ffffff;
        margin-top: 42px;
        width: 240px;
        height: 45px;

        @include base.breakpointPc {
            font-size: 3.6rem;
            margin-top: 4.5vw;
            width: 288px;
            height: 53px;
        }

        &::after {
            content: "";
            height: 2px;
            width: 75px;
            background-color: #ffffff;
            display: block;
            margin-top: 15px;

            @include base.breakpointPc {
                margin-top: 50.5px;
                margin-left: 0.5px;
            }
        }
    }

    &-txt {
        color: #ffffff;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 33px;
        height: 518px;
        margin-top: 29px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 16;

        @include base.breakpointTablet {
            height: 259px;
            width: 763px;
            -webkit-line-clamp: 8;
        }

        @include base.breakpointPc {
            height: 326px;
            width: 36vw;
            font-size: 1.6rem;
            margin-top: 109px;
            -webkit-line-clamp: 10;
        }
    }

    &-txtset {
        width: 100%;
        height: 691px;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 40px;
        padding-right: 40px;
        background-color: rgba($color: #000000, $alpha: 0.4029);
        margin-bottom: 57px;
        z-index: 3;

        @include base.breakpointTablet {
            height: 415px;
            padding-left: 42px;
            padding-right: 29px;
        }

        @include base.breakpointPc {
            height: 649px;
            padding-left: 6vw;
        }
    }
}