@use "../../foundation/base";

.c-archive__wrapperGrid {
    display: grid;
    gap: 5vw;
    grid-template-columns: 1fr;
    margin: 5vw;
    
    @include base.breakpointTablet {
        margin: 5vw;
        grid-template-columns: repeat(2, 1fr);
        gap: 5vw;
        margin-bottom: 5vw;
    }

    @include base.breakpointPc {
        width: 80vw;
        gap: 0;
    }

    &-item {
        width: 89.6vw;

        @include base.breakpointTablet {
            width: 42vw;
        }

        @include base.breakpointPc {
            width: 32.1vw;
        }

        img {
            height: 61.4vw;
            width: 100%;
            object-fit: cover;
        }
    }

    &-ttl {
        font-size: 2.0rem;
        font-weight: 700;
        color: #ffffff;
        margin-top: 4.4vw;
        margin-left: 0.3vw;

        @include base.breakpointTablet {
            font-size: 4.4rem;
            position: absolute;
            top: 14px;
            left: 11px;
        }

        @include base.breakpointPc {
            font-size: 8.0rem;
            position: absolute;
            top: 24px;
        }
    }

    &-txtbox {
        height: auto;
        background-color: #3C2B1C;
        color: #ffffff;
        text-align: left;
        padding: 4.2vw;

        @include base.breakpointTablet {
            padding-right: 15px;
            margin-top: 2vw;
        }

        @include base.breakpointPc {
            padding: 1vw;
            margin-top: 1vw;
            padding-bottom: 14px;
            margin-bottom: 1vw;
        }
    }

    &-txt {
        color: #ffffff;
        font-size: 1.6rem;
        font-weight: 400;
        
        @include base.breakpointTablet {
            font-size: 1.4rem;
        }

        @include base.breakpointPc {
            font-size: 1.6rem;
        }

        &__ttl {
            color: #ffffff;
            font-size: 1.6rem;
            font-weight: 700;
            margin-top: 5.6vw;
            margin-bottom: 1.8vw;

            @include base.breakpointTablet {
                font-size: 2.4rem;
                margin-bottom: 16px;
            }

            @include base.breakpointPc {
                margin-bottom: 10px;
            }
        }
    }
}

.c-detail__btn {
    color: base.$color--gray;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    background-color: #ffffff;
    width: 43.5vw;
    height: 11.3vw;
    border-radius: 20px;    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10.6vw;
    margin-bottom: 11.6vw;
}