@use "../../foundation/base";

.c-mainvisual {
    height: 285px;
    width: 100%;
    position: relative;

    @include base.breakpointPc {
        height: 530px;
        width: 80%;
    }

    img {
        height: 285px;
        width: 100%;
        object-fit: cover;

        @include base.breakpointPc {
            height: 530px;
        }
    }

}

.c-main__sitettl {
    color: base.$color--white;
    height: 53px;
    width: 216px;
    font-size: 3.6rem;
    font-weight: 700;
    position: absolute;
    top: 122px;
    left: 25px;

    @include base.breakpointTablet {
        position: absolute;
        top: 122px;
        left: 86px;
    }

    @include base.breakpointPc {
        font-size: 4.0rem;
        height: 59px;
        width: 240px;
        position: absolute;
        top: 234px;
    }
}

.c-main__archivettl {
    color: base.$color--white;
    height: 43px;
    font-size: 3.6rem;
    font-weight: 700;
    position: absolute;
    top: 106px;
    left: 37px;

    @include base.breakpointTablet {
        font-size: 6.0rem;
        position: absolute;
        top: 107px;
        left: 86px;
    }

    @include base.breakpointPc {
        font-size: 4.0rem;
        height: 59px;
        width: 240px;
        position: absolute;
        top: 234px;
    }

    &-sub {
        color: base.$color--white;
        font-size: 1.6rem;
        font-weight: 700;
        position: absolute;
        bottom: 101px;
        left: 37px;

        @include base.breakpointTablet {
            height: 24px;
            position: absolute;
            left: 275px;
            bottom: 115px;
        }
    }
}

.c-mainvisual__archive {
    height: 285px;
    width: 100%;
    position: relative;

    &::before {
        content: "";
        height: 285px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 100;
        left: 100;
    }

    @include base.breakpointPc {
        height: 530px;
        width: 80%;
    }

    img {
        height: 285px;
        width: 100%;
        object-fit: cover;
        object-position: left;
        opacity: 100;

        @include base.breakpointPc {
            height: 530px;
        }
    }
}